.transport-container {
  background-color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.transport-form, .transport-table {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.transport-form input,
.transport-form select {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 250px;
}

.transport-table {
  width: 100%;
  border-collapse: collapse;
}

.transport-table th,
.transport-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.transport-table .delete {
  background-color: red;
  color: white;
}