.dashboard-text {
  background-color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 20px;
}

.dashboard-links button {
  background-color: #ffffff;
  color: #000;
}

.dashboard-links button:hover {
  background-color: #000;
  color: #ffffff;
}