body {

   
  margin: 0; 
}

.title {
  font-size: 1.25rem;
  text-align: center;
  padding: 5px 10px; 
  border-radius: 0; 
}

.button-container {
  display: flex;
  justify-content: center;
}


.add-warehouse-btn {
  background-color: #070181;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  margin-bottom: 1rem;
}

.add-warehouse-btn:hover {
  background-color: #fff;
  color: #070181;
}

.note {
  background-color: #fff;
  border-radius: 6px;
  padding: 12px 20px;
  text-align: left;
  margin: 10px;
}
.description {
  display: block;
  color: #282c34;
  font-style: italic;
  margin-bottom: 20px;
}
.note p {
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.note button {
  margin: 2px;
  background-color: #070181;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}
.note button:hover {
  background-color: #fff;
  color: #070181;
}
.note button.delete {
  background-color: rgb(238, 67, 55);
}
.note button.delete:hover {
  background-color: rgb(223, 57, 45);
}