.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  border-radius: 1px;
  padding: 10px;
}

.dashboard-text {
  background-color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 20px;
}

.tabs {
  margin-bottom: 20px;
}

.tabs button {
  margin-right: 10px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.tabs button.active {
  background-color: #0110ba;
  color: #fff;
}