.title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  border-radius: 1px;
  padding: 10px;
}

.title.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.tabs {
  margin-bottom: 20px;
}

.tabs button {
  margin-right: 10px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #000;
}

.tabs button:hover {
  background-color: #949494;
}

.tabs button.active {
  background-color: #909090;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.top-buttons {
  display: flex;
  gap: 10px;
}

.top-buttons button {
  padding: 8px 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn {
  background-color: #000000;
  color: #ffffff;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
}
