.title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  border-radius: 1px;
  padding: 10px;
}

.tabs {
  margin-bottom: 20px;
}

.tabs button {
  margin-right: 10px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #000;
}

.tabs button:hover {
  background-color: #949494;
}

.tabs button.active {
  background-color: #909090;
  color: #fff;
}