.workers-container {
  background-color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.workers-item {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;

  background: #f8f9fa;
  padding: 1rem;
  margin-bottom: 0.7rem;
  border-radius: 8px;

  border: 1px solid #e2e2e2;
  transition: 0.2s ease-in-out;
}